.sf-product-item-detail-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
  img {
    max-height: 525px;
    margin-right: 40px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
  a:hover {
    text-decoration: none;
  }
}
