<div class="card">
  <img
    class="card-img-top"
    role="button"
    (click)="openProductDetails(product)"
    [src]="product.url"
    alt="Card image cap"
  />
  <div class="card-body text-center">
    <h5 class="card-title">{{ product.name }}</h5>
    <h3 class="card-text font-weight-bold text-success my-4">
      ${{ product.price }}
    </h3>
    <form class="d-flex flex-column w-50 mx-auto" [formGroup]="productItemForm">
      <mat-form-field class="mb-3" appearance="fill" floatLabel="always">
        <mat-label>Quantity</mat-label>
        <mat-select
          formControlName="quantity"
          (selectionChange)="quantityChange(product.id, $event)"
        >
          <mat-option
            [value]="value"
            *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
            >{{ value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="addToCart(product.id)">
        Add to Cart
      </button>
    </form>
  </div>
</div>
